<div class="container mx-auto my-16">
  <!-- add password form  -->

  <div class="grid grid-cols-2 gap-5">
    <div class="shadow-lg border-2 border-gray-900">
      <img [src]="site.siteImgUrl" alt="" />
      <h3 class="text-xl font-bold p-3">{{ site.siteName }}</h3>
      <div class="grid grid-cols-3 gap-5 my-1 p-3">
        <div
          class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm"
        >
          <a [href]="site.siteUrl" target="_blank">{{ site.siteUrl }}</a>
        </div>
      </div>
    </div>
    <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
      <h2 *ngIf="formState == 'Add New'" class="text-3xl text-center">
        Add New User & Password
      </h2>
      <h2 *ngIf="formState == 'Edit'" class="text-3xl text-center">
        Edit User & Password
      </h2>
      <p *ngIf="formState == 'Add New'" class="text-center">
        You can add new user & password from the below form
      </p>
      <p *ngIf="formState == 'Edit'" class="text-center">
        You can edit user & password from the below form
      </p>
      <form
        #passwordForm="ngForm"
        (ngSubmit)="onSubmitPasswordForm(passwordForm.value)"
      >
        <div class="flex flex-col my-3">
          <label class="text-lg font-medium mb-2">Email</label>
          <input
            type="email"
            class="input border-2 border-gray-900"
            name="email"
            [(ngModel)]="editingPassword.email"
          />
        </div>
        <div class="flex flex-col my-3">
          <label class="text-lg font-medium mb-2">Username</label>
          <input
            type="text"
            class="input border-2 border-gray-900"
            name="username"
            [(ngModel)]="editingPassword.username"
          />
        </div>
        <div class="flex flex-col my-3">
          <label class="text-lg font-medium mb-2">Password</label>
          <input
            type="password"
            class="input border-2 border-gray-900"
            name="password"
            [(ngModel)]="editingPassword.password"
          />
        </div>

        <button
          class="btn mt-5 mx-0.5 text-sm btn-primary text-white normal-case"
          *ngIf="formState == 'Add New'"
        >
          Add New Password
        </button>
        <button
          class="btn mt-5 mx-0.5 text-sm btn-primary text-white normal-case"
          *ngIf="formState == 'Edit'"
        >
          Update password
        </button>
      </form>
    </div>
  </div>

  <!-- list password  -->

  <div class="grid grid-cols-1 mt-10">
    <table class="border-2 border-gray-900">
      <thead>
        <tr class="bg-gray-200 p-52 h-14 text-left">
          <th class="border-2 border-gray-900 p-3">Email</th>
          <th class="border-2 border-gray-900 p-3">Username</th>
          <th class="border-2 border-gray-900 p-3">Password</th>
          <th class="border-2 border-gray-900 p-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-14" *ngFor="let password of passwordList | async">
          <td class="border-2 border-gray-900 p-3">{{ password.email }}</td>
          <td class="border-2 border-gray-900 p-3">{{ password.username }}</td>
          <td class="border-2 border-gray-900 p-3">{{ password.password }}</td>
          <td class="border-2 border-gray-900 p-3">
            <button
              (click)="editPassword(password)"
              class="btn btn-info text-white normal-case mx-0.5"
            >
              Edit
            </button>
            <button
              (click)="deletePassword(password.id)"
              class="btn btn-error text-white normal-case mx-0.5"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
